<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>	
    <link rel="stylesheet" href="../style.css">
  </head>  

  <body>
    <h1>Welcome to mediacenter !</h1>
    <form action="/signup" method="post">
        <input type="text" name="reseaux"></input>
        <input type="submit" value="Ajouter"></input>
    </form>
    <form action="/login" method="post">
      <input type="text" name="user"></input>
      <input type="submit" value="Se connecter"></input>
    </form>
    </div>
  </body>
</html>